<div
  class="row d-flex flex-align-center flex-justify-center animated zoomIn faster"
  style="height: 100%"
>
  <div>
    <h1>Inicio de sesión</h1>
    <form
      ngNativeValidate
      data-role="validator"
      [formGroup]="form"
      (ngSubmit)="login()"
    >
      <div class="form-group">
        <label>Correo electrónico</label>
        <input
          formControlName="username"
          type="email"
          placeholder="Ingrese el correo electrónico"
          data-role="input"
          data-prepend="<span class='mif-user'></span>"
          data-validate="minlength=10 email"
        />
        <span class="invalid_feedback">
          El nombre de usuario no es válido.
        </span>
      </div>
      <div class="form-group">
        <label>Contraseña</label>
        <input
          formControlName="password"
          type="password"
          placeholder="Ingrese la contraseña"
          data-role="input"
          data-prepend="<span class='mif-key'></span>"
          data-validate="minlength=1"
        />
        <span class="invalid_feedback">
          La contraseña debe tener al menos 8 caracteres.
        </span>
      </div>
      <div class="form-group">
        <button type="submit" class="button success">
          Iniciar sesión
        </button>
      </div>
    </form>
  </div>
</div>
